.filled svg {
  fill: var(--primary);
}

.star svg {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.star svg:focus {
  outline: none;
}

.star svg:focus-visible {
  outline: blue solid 2px;
}
